/* line 3, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* line 8, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
li {
  list-style-type: none;
}

/* line 11, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
a {
  text-decoration: none;
}

/* line 14, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
button {
  border-width: 0;
  color: #fff;
  border-radius: 2px;
  background-color: #06D79D;
}

/* line 20, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.form-input {
  width: 100%;
  padding: 15px;
  border-radius: 2px;
  border-width: 0;
}

/* line 27, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.btn-submit {
  width: 30%;
  padding: 17px 0;
}

/* line 31, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* line 36, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-header {
  padding: 50px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #07043B;
}

/* line 42, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-header .btn-signin, .page-header .btn-signup {
  background-color: transparent;
  padding: 10px 30px;
  transition: .5s;
}

/* line 46, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-header .btn-signin:hover, .page-header .btn-signup:hover {
  background-color: #06D79D;
  cursor: pointer;
}

/* line 53, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.hero {
  padding: 50px 80px;
  background-color: #07043B;
  color: #fff;
  display: flex;
  align-items: center;
}

/* line 59, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.hero .hero-left {
  margin-right: 200px;
}

/* line 61, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.hero .hero-left h1 {
  line-height: 30px;
}

/* line 65, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.hero .btn-getstarted {
  margin-top: 50px;
  padding: 30px 90px;
  font-size: 18px;
}

/* line 70, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.hero .btn-getstarted:hover {
  cursor: pointer;
}

/* line 77, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.stay-productive h2 {
  margin: 130px 0;
  text-align: center;
}

/* line 82, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.stay-productive .row {
  display: flex;
}

/* line 86, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.stay-productive .stay-productive-left {
  margin-right: 130px;
}

/* line 90, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.stay-productive .stay-productive-right p {
  margin: 25px 0;
  line-height: 14px;
}

/* line 94, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.stay-productive .stay-productive-right .row-left {
  margin-right: 130px;
}

/* line 99, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.stay-productive footer h2 {
  margin-bottom: 0;
}

/* line 102, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.stay-productive footer p {
  text-align: center;
  width: 50%;
  margin: 40px auto;
}

/* line 107, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.stay-productive footer form {
  width: 61%;
  margin: 0 auto;
  text-align: center;
  padding: 0 60px;
  /* button[type="submit"] {
        width: 30%;
        padding: 17px 0;
      } */
}

/* line 112, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.stay-productive footer form .form-input {
  width: 50%;
  margin-right: 30px;
  border: 1px solid gray;
}

/* line 125, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-footer {
  padding: 130px 80px;
  margin-top: 130px;
  background-color: #07043B;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

/* line 132, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-footer .footer-left, .page-footer .footer-center, .page-footer .footer-right {
  margin-right: 20px;
}

/* line 136, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-footer .footer-left {
  width: 20%;
}

/* line 138, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-footer .footer-left .footer-phone {
  position: relative;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 40px;
}

/* line 143, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-footer .footer-left .footer-phone:before {
  content: "";
  width: 20px;
  height: 16px;
  background: url("../images/icon-phone.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: -40px;
  top: 0;
}

/* line 154, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-footer .footer-left .footer-email {
  position: relative;
  margin-left: 40px;
}

/* line 157, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-footer .footer-left .footer-email:before {
  content: "";
  width: 20px;
  height: 16px;
  background: url("../images/icon-email.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: -40px;
  top: 0;
}

/* line 169, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-footer .footer-center {
  width: 40%;
  padding-left: 20px;
  display: flex;
  justify-content: center;
  border-left: 1px solid;
  border-right: 1px solid;
}

/* line 176, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-footer .footer-center .col {
  margin-right: 20px;
}

/* line 178, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-footer .footer-center .col:last-of-type {
  margin-right: 0;
}

/* line 181, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-footer .footer-center .col p {
  margin-bottom: 30px;
  font-weight: bold;
}

/* line 186, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-footer .footer-center .col ul li {
  margin-bottom: 25px;
}

/* line 188, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-footer .footer-center .col ul li a {
  color: #fff;
}

/* line 195, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-footer .footer-right {
  width: 28%;
  text-align: right;
  margin-right: 0;
}

/* line 199, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-footer .footer-right p {
  text-align: left;
}

/* line 202, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-footer .footer-right .btn-submit {
  width: 184px;
}

/* line 205, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-footer .footer-right .form-input {
  margin-top: 35px;
  margin-bottom: 10px;
}

/*# sourceMappingURL=../css/style.map */