/* line 8, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* line 14, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
body {
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
}

/* line 19, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
li {
  list-style-type: none;
}

/* line 23, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
a {
  text-decoration: none;
}

/* line 27, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
button {
  border-width: 0;
  color: #fff;
  border-radius: 4px;
  background-color: #06D79D;
}

/* line 35, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.gradient {
  background: linear-gradient(135deg, #100a6e 0, #8581cd 85%);
}

/* line 39, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.form-input {
  width: 100%;
  padding: 15px;
  border-radius: 2px;
  border-width: 0;
}

/* line 47, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.btn-submit {
  width: 30%;
  padding: 15px 0;
  font-size: 16px;
}

/* line 53, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* line 59, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-header {
  padding: 50px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  /* line 59, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
  .page-header {
    padding-right: 0;
    padding-left: 0;
  }
}

/* line 70, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-header .logo img {
  height: 45px;
}

@media screen and (max-width: 768px) {
  /* line 70, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
  .page-header .logo img {
    height: 23px;
  }
}

/* line 78, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-header .btn-signin,
.page-header .btn-signup {
  background-color: transparent;
  padding: 10px 30px;
  transition: .5s;
  font-size: 16px;
  letter-spacing: 1px;
}

/* line 86, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-header .btn-signin:hover,
.page-header .btn-signup:hover {
  background-color: #06D79D;
  cursor: pointer;
}

/* line 94, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.hero {
  padding: 50px 80px 330px;
  color: #fff;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  /* line 94, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
  .hero {
    flex-direction: column-reverse;
  }
}

/* line 102, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.hero .hero-left {
  margin-right: 30px;
}

@media screen and (max-width: 768px) {
  /* line 102, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
  .hero .hero-left {
    text-align: center;
    margin-right: 0;
  }
}

/* line 108, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.hero .hero-left h1 {
  font-size: 38px;
  line-height: 55px;
}

@media screen and (max-width: 768px) {
  /* line 108, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
  .hero .hero-left h1 {
    font-size: 25px;
    line-height: 35px;
    text-transform: lowercase;
  }
  /* line 112, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
  .hero .hero-left h1:first-letter {
    text-transform: uppercase;
  }
}

/* line 124, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.hero .btn-getstarted {
  margin-top: 50px;
  padding: 20px 90px;
  font-size: 22px;
  box-shadow: 5px 6px 7px #4c469e;
}

/* line 130, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.hero .btn-getstarted:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  /* line 135, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
  .hero .hero-right img {
    width: 190px;
  }
}

/* line 144, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.stay-productive {
  background-color: #fff;
  transform: skewY(5deg);
}

/* line 149, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.stay-productive-content {
  position: relative;
  padding-bottom: 150px;
  padding-top: 150px;
  transform: skewY(-5deg);
  margin-top: -210px;
}

/* line 157, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.stay-productive-content header h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 135px;
  font-weight: bold;
  color: #060429;
}

/* line 166, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.stay-productive-content .row {
  display: flex;
}

@media screen and (max-width: 768px) {
  /* line 166, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
  .stay-productive-content .row {
    flex-direction: column;
    align-items: center;
  }
}

/* line 174, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.stay-productive-content .stay-productive-left {
  margin-right: 130px;
}

@media screen and (max-width: 768px) {
  /* line 174, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
  .stay-productive-content .stay-productive-left {
    margin-right: 0;
  }
}

/* line 180, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.stay-productive-content .stay-productive-left img {
  width: 380px;
  height: auto;
}

@media screen and (max-width: 768px) {
  /* line 180, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
  .stay-productive-content .stay-productive-left img {
    width: 190px;
  }
}

/* line 189, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.stay-productive-content .stay-productive-right {
  display: flex;
  flex-wrap: wrap;
}

/* line 192, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.stay-productive-content .stay-productive-right p {
  margin: 25px 0;
  line-height: 25px;
  color: #949494;
}

/* line 198, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.stay-productive-content .stay-productive-right h3 {
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 1px;
  color: #060429;
}

/* line 205, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.stay-productive-content .stay-productive-right .row1-left {
  margin-right: 130px;
}

/* line 212, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.stay-productive-content .stay-productive-right .row2-left {
  margin-right: 130px;
}

/* line 222, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.stay-productive-content footer h2 {
  margin-bottom: 0;
  text-align: center;
  font-size: 32px;
  color: #060429;
  margin-top: 135px;
}

/* line 230, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.stay-productive-content footer p {
  text-align: center;
  width: 55%;
  margin: 40px auto;
  color: #3e377a;
  font-weight: bold;
  line-height: 25px;
}

@media screen and (max-width: 768px) {
  /* line 230, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
  .stay-productive-content footer p {
    width: 100%;
  }
}

/* line 242, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.stay-productive-content footer form {
  width: 55%;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 768px) {
  /* line 242, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
  .stay-productive-content footer form {
    width: 100%;
  }
}

/* line 251, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.stay-productive-content footer form .form-input {
  width: 55%;
  margin-right: 30px;
  box-shadow: 0px 0px 12px #efefef;
}

@media screen and (max-width: 768px) {
  /* line 251, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
  .stay-productive-content footer form .form-input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

/* line 263, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.stay-productive-content footer form .btn-submit {
  box-shadow: 6px 4px 6px #efefef;
}

@media screen and (max-width: 768px) {
  /* line 263, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
  .stay-productive-content footer form .btn-submit {
    width: 100%;
  }
}

/* line 274, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-footer {
  background-color: #07043B;
}

/* line 278, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-footer-content {
  margin-top: -80px;
  padding: 300px 80px 130px 80px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

@media screen and (max-width: 768px) {
  /* line 278, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
  .page-footer-content {
    flex-direction: column;
  }
}

/* line 289, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-footer-content .footer-left,
.page-footer-content .footer-center,
.page-footer-content .footer-right {
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  /* line 289, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
  .page-footer-content .footer-left,
  .page-footer-content .footer-center,
  .page-footer-content .footer-right {
    margin-right: 0;
  }
}

/* line 298, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-footer-content .footer-left {
  width: 20%;
}

@media screen and (max-width: 768px) {
  /* line 298, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
  .page-footer-content .footer-left {
    width: 100%;
    order: 1;
  }
}

/* line 307, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-footer-content .footer-left .logo img {
  height: 55px;
}

/* line 312, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-footer-content .footer-left .footer-phone {
  position: relative;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 40px;
}

/* line 318, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-footer-content .footer-left .footer-phone:before {
  content: "";
  width: 20px;
  height: 16px;
  background: url("../images/icon-phone.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: -40px;
  top: 0;
}

/* line 330, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-footer-content .footer-left .footer-email {
  position: relative;
  margin-left: 40px;
}

/* line 334, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-footer-content .footer-left .footer-email:before {
  content: "";
  width: 20px;
  height: 16px;
  background: url("../images/icon-email.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: -40px;
  top: 0;
}

/* line 347, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-footer-content .footer-center {
  width: 40%;
  padding-left: 20px;
  display: flex;
  justify-content: space-around;
  border-left: 1px solid;
  border-right: 1px solid;
}

@media screen and (max-width: 768px) {
  /* line 347, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
  .page-footer-content .footer-center {
    width: 100%;
    border: none;
    flex-direction: column;
    order: 3;
  }
}

/* line 362, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-footer-content .footer-center .col {
  margin-right: 20px;
}

/* line 365, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-footer-content .footer-center .col p {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 18px;
}

/* line 372, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-footer-content .footer-center .col ul li {
  margin-bottom: 25px;
}

/* line 375, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-footer-content .footer-center .col ul li a {
  color: #fff;
  font-size: 15px;
}

/* line 384, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-footer-content .footer-right {
  width: 30%;
  text-align: right;
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  /* line 384, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
  .page-footer-content .footer-right {
    width: 100%;
    order: 2;
  }
}

/* line 394, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-footer-content .footer-right p {
  text-align: left;
  font-size: 15px;
  line-height: 20px;
}

/* line 400, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-footer-content .footer-right .btn-submit {
  width: 184px;
}

/* line 404, D:/web_dev/PROJEKTY/forte_digital/scss/style.scss */
.page-footer-content .footer-right .form-input {
  margin-top: 35px;
  margin-bottom: 10px;
}

/*# sourceMappingURL=../css/style.map */